DyweServer/backend/venv/bin/flask
DyweServer/backend/venv/
DyweServer/backend/.vscode/
DyweServer/backend/__pycache__/
DyweServer/backend/.env

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
DyweClient/dist
DyweClient/tmp
DyweClient/out-tsc
DyweClient/bazel-out

# Node
DyweClient/node_modules
DyweClient/npm-debug.log
DyweClient/yarn-error.log

# IDEs and editors
DyweClient/.idea/
DyweClient/.project
DyweClient/.classpath
DyweClient/.c9/
DyweClient/*.launch
DyweClient/.settings/
DyweClient/*.sublime-workspace

# Visual Studio Code
DyweClient/.vscode/*
DyweClient/!.vscode/settings.json
DyweClient/!.vscode/tasks.json
DyweClient/!.vscode/launch.json
DyweClient/!.vscode/extensions.json
DyweClient/.history/*

# Miscellaneous
DyweClient/.angular/cache
DyweClient/.sass-cache/
DyweClient/connect.lock
DyweClient/coverage
DyweClient/libpeerconnection.log
DyweClient/testem.log
DyweClient/typings

# System files
DyweClient/Thumbs.db
DyweClient/.DS_Store