<div class="po-metrics">
  <metric-block [title]="'POS-METRICS.Price'" [value]="'11.96 TON'" />
  <metric-block [title]="'POS-METRICS.Position size'" [value]="'10,300 TON'" />
  <metric-block [title]="'POS-METRICS.Take Profit'" [value]="'11 TON'" />
  <metric-block [title]="'POS-METRICS.Stop Loss'" [value]="'9 TON'" />
</div>

<div class="po-metrics-mob">
  <metric-block-mob [title]="'POS-METRICS.Price'" [value]="'11.96 TON'" />
  <metric-block-mob
    [title]="'POS-METRICS.Position Size'"
    [value]="'10,300 TON'"
  />
  <metric-block-mob [title]="'POS-METRICS.Take Profit'" [value]="'11 TON'" />
  <metric-block-mob [title]="'POS-METRICS.Stop Loss'" [value]="'9 TON'" />
</div>
