<div class="po-metrics">
  <metric-block [title]="'POS-METRICS.Entry price'" [value]="'10.96 TON'" />
  <metric-block [title]="'POS-METRICS.Liq. Price'" [value]="'9.96 TON'" />
  <metric-block
    [title]="'POS-METRICS.Last price'"
    [value]="'+0.003%'"
    colorClass="main-color"
  />
  <metric-block [title]="'POS-METRICS.Position size'" [value]="'10,300 TON'" />
  <metric-block [title]="'POS-METRICS.Take Profit'" [value]="'11 TON'" />
  <metric-block [title]="'POS-METRICS.Stop Loss'" [value]="'9 TON'" />
  <metric-block
    [title]="'POS-METRICS.Unrealized P&L'"
    [value]="'200 TON'"
    [percentage]="'+10%'"
    colorClass="main-color"
  />
</div>

<div class="po-metrics-mob">
  <metric-block-mob [title]="'POS-METRICS.Entry Price'" [value]="'10.96 TON'" />
  <metric-block-mob [title]="'POS-METRICS.Liq. Price'" [value]="'9.96 TON'" />
  <metric-block-mob
    [title]="'POS-METRICS.Last Price'"
    [value]="'+0.003%'"
    colorClass="main-color"
  />
  <metric-block-mob
    [title]="'POS-METRICS.Position Size'"
    [value]="'10,300 TON'"
  />
  <metric-block-mob [title]="'POS-METRICS.Take Profit'" [value]="'11 TON'" />
  <metric-block-mob [title]="'POS-METRICS.Stop Loss'" [value]="'9 TON'" />
  <metric-block-mob
    [title]="'POS-METRICS.Unrealized P&L'"
    [value]="'200 TON'"
    [percentage]="'+10%'"
    colorClass="main-color"
  />
</div>
